{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ user.userName }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/user/profile.css') }}">
{% endblock %}

{% block body %}
	<div class="container my-4">
	<h1>Mon profil</h1>
		<div class="row ">
			<div class="col-md-2">
				<div class="profile-header text-center mb-2 ">
						<img src="{{asset('images/user/' ~ user.photoProfile)}}" alt="{{user.userName}}" class="profile-img rounded-circle">
				</div>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-lg-6 col-md-12">
				<div class="profile-infos">
					<h4 class="infos-title text-center mt-2 mb-2">Mes informations</h4>
					<p>
						<strong>Email :
						</strong>
						{{ user.email }}</p>
					<p>
						<strong>Prénom :
						</strong>
						{{ user.prenomUser }}</p>
					<p>
						<strong>Nom :
						</strong>
						{{ user.nomUser }}</p>
					<p>
						<strong>Pseudo :</strong>
						{{ user.userName }}</p>
					<div class="text-center">
						<a href="{{ path('update_profile', {'id': user.id}) }}" class="btn btn-update w-100 mt-4">Modifier mon profil</a>

					</div>
					<div class="text-center">
						<a href="{{ path('user_change_password') }}" class="btn btn-update w-100 mt-4">Changer mon mot de passe</a>

					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 text-center menu">
				<div class="card menu-card">
					<div class="card-header">
						Mon menu
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<a href="{{ path('app_profile_posts') }}" class="btn w-100">Mes posts</a>
						</li>
						<li class="list-group-item">
							<a href="#" class="btn w-100">Mon agenda</a>
						</li>
						<li class="list-group-item">
							<a href="{{ path('profile_donations') }}" class="btn w-100">Mes dons</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
