{% extends 'base.html.twig' %}

{% block title %}Mise à jour du profil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/user/forms.css') }}">
{% endblock %}

{% block body %}
<div class="container my-5">
	<div class="d-flex justify-content-end mb-4 mt-4">
            <a class="btn btn-secondary btn-retour"href="{{ path('app_profile', {'id': user.id}) }}"><i class="bi bi-arrow-left-square"></i> Retour</a>
        </div>

    <h1 class="text-center mb-4 mt-4"> Modification du profil </h1>

 <div class="d-flex justify-content-center">
  <div class="col-lg-8 col-md-10">
  
						<div class="text-center mb-4">
                        {% if user.photoProfile %}
						<img src="{{asset('images/user/' ~ user.photoProfile)}}" alt="{{user.userName}}" class="profile-img rounded-circle">
                        {% else %}
						<img src="{{asset('images/default-profile-img.png')}}" alt="default-profile-img" class="default-profile-img rounded-circle">
                        {% endif %}
							<p class="text-muted mt-2">Photo de Profil actuelle </p>
						</div>
   {{ form_start(formProfile) }}
    {{ form_widget(formProfile) }}
    <button type="submit" class="btn btn-submit w-100 mt-4">Sauvegarder</button>
{{ form_end(formProfile) }}

  </div>
  <form action="{{ path('delete_profile', {'id': user.id}) }}" method="post" onsubmit="return confirm('Souhaitez-vous vraiment supprimer ce compte ?')">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
				<button class="btn btn-danger">
					<i class="bi bi-trash"></i>
					Supprimer
				</button>
			</form>
 </div>

</div>
{% endblock %}
