{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
<div class="container mt-5">
   <div class="d-flex justify-content-end mt-2 mb-4">
			<a class="btn btn-secondary" href="{{ path('gestion_messages') }}">
				<i class="bi bi-arrow-left-square"></i>
				Retour</a>
		</div>

    <!-- Titre centré -->
    <h1 class="text-center mb-4">Détails du Message</h1>

    <!-- Liste des détails du message -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Email: </strong>{{ contact.email }}</li>
        <li class="list-group-item"><strong>Nom: </strong>{{ contact.nom }}</li>
        <li class="list-group-item"><strong>Prénom: </strong>{{ contact.prenom }}</li>
        <li class="list-group-item"><strong>Objet: </strong>{{ contact.objet.nom }}</li>
        <li class="list-group-item"><strong>Message: </strong>{{ contact.message }}</li>
        <li class="list-group-item"><strong>Date d'envoi: </strong>{{ contact.createdAt | date('d/m/Y') }}</li>
    </ul>
</div>
{% endblock %}
