{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/home/home.css') }}">
{% endblock %}
{% block body %}
	{# Hero #}
	<div class="hero" style="background-image: url('{{ asset('images/hero.jpg') }}');">
		<h1>Bienvenue sur le site de l'association Horizon Partagé</h1>
		<button class="btn scroll-button" onclick="scrollToContent()">
			<i class="bi bi-chevron-double-down"></i>
		</button>
	</div>

	<div class="container" id="main-content">

		<div
			class="bg-white p-5">
			{# Nos actions #}
			<h2 class="text-center mt-3 mb-5">Nos actions principales</h2>
			<div id="actionsCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
				<div class="carousel-inner">
					{% for action in actions %}
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<div class="card">
								<a href="{{ path('show_action', {'id': action.id}) }}" target="_blank"><img src="{{ asset('images/action/' ~ action.image) }}" class="d-block w-100" alt="{{ action.titre }}"></a>

								<div class="carousel-caption ">
									<a href="{{ path('show_action', {'id': action.id}) }}" target="_blank">
										<h5 class="card-title text-white">{{ action.titre }}</h5>
									</a>


								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				{# Controls for previous/next #}
				<button class="carousel-control-prev" type="button" data-bs-target="#actionsCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#actionsCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Suivant</span>
				</button>
			</div>
		</div>


		<div
			class="bg-white p-5">
			{# Dernières actualités  #}
			<h2 class="text-center mt-2 mb-5">Dernières actualités</h2>
			{# affichage des infos recntes sous forme de carousel #}
			{# Carousel Bootstrap #}
			<div id="recentInfosCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
				<div class="carousel-inner">
					{% for info in recentInfos %}
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<div class="card">
								<a href="{{ path('show_info', {'id': info.id}) }}" target="_blank"><img src="{{ asset('images/info/' ~ info.image) }}" class="d-block w-100" alt="{{ info.titre }}"></a>

								<div class="carousel-caption ">
									<a href="{{ path('show_info', {'id': info.id}) }}" target="_blank">
										<h5 class="card-title text-white">{{ info.titre }}</h5>
									</a>


								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				{# Controls for previous/next #}
				<button class="carousel-control-prev" type="button" data-bs-target="#recentInfosCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#recentInfosCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Suivant</span>
				</button>
			</div>
		</div>


	</div>
{% endblock %}
