{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}
{% block stylesheets %}
	{# Bloc 'stylesheets' pour inclure des fichiers CSS spécifiques à cette page.
	 Il utilise {{ parent() }} pour inclure les styles du parent (base.html.twig), 
	 puis ajoute un fichier CSS spécifique pour cette page d'accueil. #}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/home/home.css') }}">
{% endblock %}
{% block body %}
{# Hero #}
	<div class="hero" style="background-image: url('{{ asset('images/hero.jpg') }}');">
    <h1>Bienvenue sur le site de l'association Horizon Partagé</h1>
    <button class="btn scroll-button" onclick="scrollToContent()"><i class="bi bi-chevron-double-down"></i></button>
    {# Bouton qui, lorsqu'on clique dessus, déclenche la fonction JavaScript scrollToContent(). 
    Il est stylisé pour être un indicateur visuel (ici un chevron vers le bas) incitant à scroller vers le bas. #}
</div>
{# Section principale de la page qui affichera des contenus spécifiques #}
<div class="container" id="main-content">
{# Dernières actualités  #}
    <h2 class="mt-3 mb-3">Dernières actualités</h2>
    {# affichage des infos recntes sous forme de carousel #}
     {# Carousel Bootstrap #}
        <div id="recentInfosCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for info in recentInfos %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="card">
                            <img src="{{ asset('images/info/' ~ info.image) }}" class="d-block w-100" alt="{{ info.titre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ info.titre }}</h5>
                                <p class="card-text">{{ info.texte }}</p>
                                <a href="{{ path('show_info', {'id': info.id}) }}" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
{# Controls for previous/next #}
            <button class="carousel-control-prev" type="button" data-bs-target="#recentInfosCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recentInfosCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>
        </div>

</div>
{% endblock %}
