{% extends 'base.html.twig' %}

{% block title %}Dons reçus
{% endblock %}

{% block body %}
	<div class="container my-4 mt-5 bg-white">
		<div class="d-flex justify-content-end mt-5 mb-4">
			<a class="btn btn-secondary mt-3" href="{{ path('app_admin') }}">
				<i class="bi bi-arrow-left-square"></i>
				Retour</a>
		</div>
		<h1 class="mt-3 mb-3 text-center">Dons reçus</h1>
		{% if dons is not empty %}
			<table class="table table-striped mt-4">
				<thead>
					<tr>
						<th>Montant</th>
						<th>Donateur</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% for don in dons %}
						<tr>
							<td>{{ don.montant}}
								€</td>
							<td>
								{% if don.donateur %}
									{{ don.donateur.nomUser}}
									{{ don.donateur.prenomUser}}
								{% else %}
									Utilisateur introuvable
								{% endif %}
							</td>
							<td>{{ don.dateDon | date('d/m/Y') }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p>Total :
				{{total}}
				€</p>
		{% else %}
			<p>Aucun don trouvé</p>
		{% endif %}

	{% endblock %}
