{% extends 'base.html.twig' %}

{% block title %}Agir avec nous
{% endblock %}

{% block body %}
	<div class="container">
		
<h2>{% if categorieName %}  {{ categorieName| capitalize }}{% endif %}</h2>
 {# Afficher le formulaire avec les boutons pour les catégories  #}
    {{ form_start(annonceFilterForm) }}
        <div class="btn-group mb-3" role="group">
            {{ form_widget(annonceFilterForm) }}
           <a href="{{ path('dons')}}" class="btn btn-success">Faire un don</a>
        </div>
    {{ form_end(annonceFilterForm) }} 
	 {# Afficher les actions associées à la catégorie sélectionnée ou toutes les actions #} 
    {% if annonces is empty %}
        <p>Aucune annonce trouvée{% if categorieName %} pour la catégorie {{ categorieName| capitalize }}{% endif %}.</p>
    {% else %}
	{% for annonce in annonces %}
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4"><!-- Chaque annonce occupe 1/4 de la ligne sur grands écrans -->
		
			<div class="card mb-4">

				<div class="card-body">
					<h5 class="card-title">{{ annonce.titre | capitalize }}</h5>
					

					
						<p class="card-text">
							{{ annonce.description | capitalize | slice(0, 200) ~ ' ...' }}
						</p>
					

					
				</div>
				<div class="card-footer text-center border-0">
					<a href="{{ path('showAnnonce', {'id': annonce.id}) }}" class="btn btn-secondary">En savoir plus</a>

				</div>
				
			</div>
			</div>
		{% endfor %}
		  {% endif %}
	</div>
{% endblock %}
