{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs
{% endblock %}

{% block body %}
	<div class="container my-4 mt-5 bg-white">
		<div class="d-flex justify-content-end mt-2 mb-4">
			<a class="btn btn-secondary" href="{{ path('app_admin') }}">
				<i class="bi bi-arrow-left-square"></i>
				Retour</a>
		</div>
		<h1 class="mt-3 mb-3 text-center">Gestion des utilisateurs</h1>

		{% if users is not empty %}
			<table class="table table-striped mt-5">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th>Pseudo</th>
						<th>Rôle</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.nomUser|capitalize }}</td>
							<td>{{ user.prenomUser|capitalize }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.userName }}</td>

							<td>
								{% for role in user.roles %}
									{{ role }}
								{% endfor %}
							</td>
							<td>
								<a class="btn btn-secondary" href="{{ path('admin_show_user', {'id': user.id}) }}">
									<i class="bi bi-eye-fill"></i>
									Afficher</a>

							</td>
							<td>
								<a class="btn btn-warning" href="{{ path('gestion_users_role', {'id': user.id}) }}">
									<i class="bi bi-pencil-square"></i>
									Modifier le rôle</a>
							</td>
							<td>
								<form action="{{ path('admin_delete_user', {'id': user.id}) }}" method="post" onsubmit="return confirm('Souhaitez-vous vraiment supprimer ce compte ?')">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
									<button class="btn btn-danger">
										<i class="bi bi-trash"></i>
										Supprimer
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}
