{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
{{parent()}}
    <link rel="stylesheet" href="{{ asset('styles/admin/admin.css') }}">
{% endblock %}
{% block body %}

<div class="container my-5 mt-3 p-5 bg-white">
<h1 class="text-center mt-5 mb-5">Gestion du site</h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{ path('gestion_dons') }}" class="text-decoration-none">
                        <i class="bi bi-heart-fill fa-3x"></i>
                        <h6>Gestion des dons</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{ path('gestion_messages') }}" class="text-decoration-none">
                        <i class="bi bi-envelope-fill fa-3x"></i>
                        <h6>Gestion des Messages</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{ path('gestion_users') }}" class="text-decoration-none">
                        <i class="bi bi-person-fill fa-3x"></i>
                        <h6>Gestion des utilisateurs</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{ path('gestion_actions') }}" class="text-decoration-none">
                        <i class="bi bi-flag-fill fa-3x"></i>
                        <h6>Gestion des actions</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{ path('gestion_categories') }}" class="text-decoration-none">
                        <i class="bi bi-tags-fill fa-3x"></i>
                        <h6>Gestion des catégories</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{ path('gestion_annonces') }}" class="text-decoration-none">
                        <i class="bi bi-megaphone-fill fa-3x"></i>
                        <h6>Gestion des annonces</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{ path('gestion_infos') }}" class="text-decoration-none">
                        <i class="bi bi-info-circle-fill fa-3x"></i>
                        <h6>Gestion des infos</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
