{% extends 'base.html.twig' %}

{% block title %}Gestions des annonces
{% endblock %}

{% block body %}
	<div class="container my-4 mt-5">
	<div class="d-flex justify-content-end mt-2 mb-4">
			<a class="btn btn-secondary" href="{{ path('app_admin') }}">
				<i class="bi bi-arrow-left-square"></i>
				Retour</a>
		</div>
		<h1 class="mt-3 mb-3 text-center">Gestion des annonces</h1>
		
		<a href="{{ path('admin_new_annonce') }}" class="btn btn-success text-white mt-5 mb-5">Ajouter une nouvelle annonce</a>

		{% if annonces is not empty %}
			<table class="table table-striped mt-4 text-center">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Catégorie</th>
						<th>Status</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for annonce in annonces %}
						<tr>
							<td>{{ annonce.titre|capitalize }}</td>
							<td>{{ annonce.categorie.nom|capitalize }}</td>
							<td>
								{% if annonce.status %}
									Activée
								{% else %}
									Désactivée
								{% endif %}

							</td>


							<td>

								<a href="{{ path('showAnnonce', {'id': annonce.id}) }}" class="btn btn-secondary">
									<i class="bi bi-eye-fill"></i>
									Afficher</a>

							</td>
							<td>
								<a class="btn btn-warning" href="{{ path('admin_update_annonce', {'id': annonce.id}) }}">
									<i class="bi bi-pencil-square"></i>
									Modifier
								</a>
							</td>
							<td>
								<form action="{{ path('admin_delete_annonce', {'id': annonce.id}) }}" method="post" onsubmit="return confirm('Souhaitez-vous vraiment supprimer l\'annonce {{ annonce.titre|lower }} ?')">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
									<button class="btn btn-danger">
										<i class="bi bi-trash"></i>
										Supprimer
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

	{% endblock %}
