{% extends 'base.html.twig' %}

{% block title %}Gestions des actions{% endblock %}

{% block body %}
<div class="container my-4">
		<h1>Gestion des actions</h1>
            <a href="{{ path('admin_new_action') }}" class="btn btn-success text-white">Ajouter une nouvelle action</a>

		{% if actions is not empty %}
			<table class="table table-striped mt-4">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Tarif</th>
						<th>Date</th>
						<th>Horaire</th>
						<th>Nombre de places</th>
                        <th>Lieu</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for action in actions %}
						<tr>
							<td>{{ action.titre|capitalize }}</td>
                            {% if action.tarif %}
							<td>{{ action.tarif}} €</td>
                            {% else %}
                            <td>Gratuit</td>
                            {% endif %}
                           {% if action.date %}
							<td>{{ action.date | date('d/m/Y') }}</td>
                            {% else %}
                            <td>/</td>
                            {% endif %}
                            {% if action.horaire %}
							<td>{{ action.horaire | date('H:i') }}</td>
                             {% else %}
                            <td>/</td>
                            {% endif %}
                             {% if action.nombrePlaces %}
							<td>{{ action.nombrePlaces }}</td>
                             {% else %}
                            <td>/</td>
                            {% endif %}
							 {% if action.lieu %}
							<td>{{ action.lieu}}</td>
                             {% else %}
                            <td>/</td>
                            {% endif %}
							<td>
												<a href="{{ path('show_action', {'id': action.id}) }}" class="btn btn-secondary"><i class="bi bi-eye-fill"></i> Afficher</a>

							</td>
							<td>
								<a class="btn btn-warning" href="{{ path('admin_update_action', {'id': action.id}) }}"><i class="bi bi-pencil-square"></i> Modifier </a>
							</td>
							<td> 
							<form action="{{ path('admin_delete_action', {'id': action.id}) }}" method="post" onsubmit="return confirm('Souhaitez-vous vraiment supprimer l\'action {{ action.titre|lower }} ?')">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ action.id) }}">
                <button class="btn btn-danger">
                    <i class="bi bi-trash"></i> Supprimer 
                </button>
            </form>
			</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
   
{% endblock %}
