{% extends 'base.html.twig' %}

{% block title %}Nouvelle action
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/actions/forms.css') }}">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="d-flex justify-content-end mt-2 mb-4">
			<a class="btn btn-secondary" href="{{ path('gestion_actions') }}">
				<i class="bi bi-arrow-left-square"></i>
				Retour</a>
		</div>
		<h1 class="text-center mb-4 mt-5">Nouvelle action</h1>

		
			<div
				class="d-flex justify-content-center mt-2 mb-2 p-2">
				{# Conteneur pour centrer le formulaire #}
				<div class="col-12">
					{{ form_start(newActionForm) }}
					{{ form_widget(newActionForm) }}
					<button type="submit" class="btn btn-submit w-100 mt-5">Enregistrer</button>
					{{ form_end(newActionForm) }}
				</div>
			</div>
		
	</div>
{% endblock %}
