{% extends 'base.html.twig' %}

{% block title %}Modifier l'action {{ action.titre }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Modifier l'action : {{ action.titre }}</h1>
    
    <div class="row">
        <div class="col-md-6">
            {{ form_start(formUpdateAction) }}

            {# Affichage de l'image actuelle #}
            {% if action.image %}
                <div class="form-group mb-3">
                    <label class="form-label">Image actuelle :</label>
                    <div class="mb-3">
                        <img src="{{ asset('images/action/' ~ action.image) }}" alt="Image actuelle" class="img-thumbnail" style="max-width: 100%;">
                    </div>
                </div>
            {% endif %}

            {# Affichage du formulaire #}
            <div class="form-group mb-3">
                {{ form_widget(formUpdateAction) }}
            </div>
            <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
            {{ form_end(formUpdateAction) }}
        </div>
        
        <div class="col-md-6 d-flex align-items-start justify-content-end">
            <form action="{{ path('admin_delete_action', {'id': action.id}) }}" method="post" onsubmit="return confirm('Souhaitez-vous vraiment supprimer l\'action {{ action.titre|lower }} ?')">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ action.id) }}">
                <button class="btn btn-danger">
                    <i class="bi bi-trash"></i> Supprimer l'action
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
