{% extends 'base.html.twig' %}

{% block title %}Modification du role
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}
{% block body %}
	<div class="container my-4">
    <div class="d-flex justify-content-end mt-2 mb-4">
			<a class="btn btn-secondary" href="{{ path('gestion_users') }}">
				<i class="bi bi-arrow-left-square"></i>
				Retour</a>
		</div>
		<h1 class="text-center mb-4 mt-5">Modification du role</h1>

		<h6 class="mb-4 mt-5">Utilisateur " {{ user.nomUser }} {{user.prenomUser}} "</h6>
<div
			class="d-flex justify-content-center mt-2 mb-2 p-2">
			{# Conteneur pour centrer le formulaire #}
			<div class="col-12">
				{{ form_start(updateUserRoleForm) }}
        {{ form_widget(updateUserRoleForm) }}
        <button type="submit" class="btn btn-submit w-25 mt-5">Mettre à jour</button>
    {{ form_end(updateUserRoleForm) }}

			</div>
		</div>
    
    
	</div>
{% endblock %}
