{% extends 'base.html.twig' %}

{% block title %}Contribution{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/don/don.css') }}">
{% endblock %}
{% block body %}

<div class="container my-4 p-5 bg-white">
    
<h1 class="text-center mb-5 mt-5">Votre Contribution</h1>
    {% if contribution is not empty %}
        <!-- Tableau pour afficher les contributions -->
        <table class="table table-striped p-5">
            <thead>
                <tr>
                    <th class="text-center">Montant</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for montant in contribution %}
                <tr>
                    <td class="text-center"><img src="{{asset('images/don/don.png')}}" alt="don" class="montant-img">{{ montant }} €</td>
                    <td class="d-flex justify-content-evenly">
                        <a href="{{ path('augmenter_don', {'index': loop.index0}) }}" class="btn"><i class="bi bi-plus-circle-dotted"></i></a>
                        <a href="{{ path('diminuer_don', {'index': loop.index0}) }}" class="btn "><i class="bi bi-dash-circle-dotted"></i></a>
                        <a href="{{ path('supprimer_don', {'index': loop.index0}) }}" class="btn"><i class="bi bi-x-circle"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between align-items-center mt-3">
            <p><strong>Total:</strong> {{ total }} €</p>
            <a href="{{ path('vider_contribution') }}" class="btn btn-danger">Tout annuler</a>
        </div>

        <div class="mt-3">
            <p><a href="{{ path('valider_paiement')}}" class="btn btn-success">Valider mon paiement</a></p>
        </div>
    {% else %}
        <p>Votre contribution est vide.</p>
        <a href="{{ path('dons') }}" class="btn btn-don">Faire un don ?</a>
    {% endif %}
</div>
{% endblock %}
