{% extends 'base.html.twig' %}

{% block title %}Nos actions
{% endblock %}

{% block body %}
	<div class="container">
		
<h2>{% if categorieName %}  {{ categorieName| capitalize }}{% else %} <h1>Toutes nos actions</h1>{% endif %}</h2>
		
 {# Afficher le formulaire avec les boutons pour les catégories #}
    {{ form_start(categorieFilterForm) }}
        <div class="btn-group mb-3" role="group">
            {{ form_widget(categorieFilterForm.cours) }}
            {{ form_widget(categorieFilterForm.atelier) }}
            {{ form_widget(categorieFilterForm.service) }}
        </div>
    {{ form_end(categorieFilterForm) }}
	 {# Afficher les actions associées à la catégorie sélectionnée ou toutes les actions #}
    {% if actions is empty %}
        <p>Aucune action trouvée{% if categorieName %} pour la catégorie {{ categorieName }}{% endif %}.</p>
    {% else %}
	{% for action in actions %}
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4"><!-- Chaque action occupe 1/4 de la ligne sur grands écrans -->
		
			<div class="card mb-4">
				<img src="{{ asset('images/action/' ~ action.image) }}" alt="{{ action.titre }}" class="card-img-top" style="height: 300px; object-fit: cover;">

				<div class="card-body">
					<h5 class="card-title">{{ action.titre | capitalize }}</h5>
					

					{% if action.date %}
						<p class="card-text">
							<small class="text-muted">Date :
								{{ action.date | date('d/m/Y') }}</small>
						</p>
					{% endif %}

					{% if action.horaire %}
						<p class="card-text">
							<small class="text-muted">Horaire :
								{{ action.horaire | date('H:i') }}</small>
						</p>
					{% endif %}

					{% if action.nombrePlaces %}
						<p class="card-text">
							<small class="text-muted">Nombre de places :
								{{ action.nombrePlaces }}</small>
						</p>
					{% endif %}

					{% if action.lieu %}
						<p class="card-text">
							<small class="text-muted">Lieu :
								{{ action.lieu | capitalize }}</small>
						</p>
					{% endif %}
				</div>
				<div class="card-footer text-center border-0">
					<a href="{{ path('show_action', {'id': action.id}) }}" class="btn btn-secondary">En savoir plus</a>

				</div>
				
			</div>
			</div>
		{% endfor %}
		 {% endif %}
	</div>
{% endblock %}
