<footer class="col-md-12">
	<div
		class="row">
		<!-- Section du logo -->
		<div class="col-md-3">
			<img src="{{asset('images/logoDark.png')}}" alt="logo" class="img-fluid logo-footer">
		</div>

		<!-- Section des réseaux sociaux et des informations de contact -->
		<div class="col-md-6 p-2">
			<h6 class="text-center mt-5 mb-3">Suivez-nous sur les réseaux sociaux</h6>
			<div class="social-icons text-center mt-3 mb-3">
				<a href="https://www.facebook.com" target="_blank"><img src="{{asset('images/footer/fb.png')}}" alt="Facebook"></a>
				<a href="https://www.instagram.com" target="_blank"><img src="{{ asset('images/footer/insta.png') }}" alt="Instagram"></a>
				<a href="https://www.twitter.com" target="_blank"><img src="{{ asset('images/footer/x.png') }}" alt="X"></a>
				<a href="https://www.tiktok.com" target="_blank"><img src="{{ asset('images/footer/tiktok.jpg') }}" alt="Tiktok"></a>
			</div>
			<div class="contact-info text-center mt-5 mb-3 p-3 ">
				<p>Adresse: 123 Rue de l'Association, 75000 Paris, France</p>
				<p>Horaires d'ouverture: Lundi - Vendredi : 9h - 17h</p>
				<p>Permanance : Samedi 13h - 16h</p>
				<p>Téléphone: +33 1 23 45 67 89</p>
				<p>Email: contact@horizonpartage.org</p>
			</div>
		</div>

	</div>
	<!-- Flèche "Back to Top" -->
	<div class="d-flex justify-content-end mb-4 mt-4 back-to-top">
		<a href="#top" class="back-to-top-link">
			<img src="{{ asset('images/fleche-haut.png') }}" alt="Back to top" class="back-to-top-icon">
		</a>
	</div>
	<div class="legal-links text-center">
		<a href="#">Mentions Légales</a>
		|
		<a href="#">Politique de Confidentialité</a>
	</div>


	<div class="row mt-3">
		<div class="col-12 text-center">
			<div class="copyright">
				<small>2024 &copy; Khedidja CHAABANE ~ Tous droits réservés.</small>
			</div>
		</div>
	</div>
</footer>
