{% extends 'base.html.twig' %}

{% block title %}All Posts{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/allPosts.css') }}">
{% endblock %}

{% block body %}

<div class="container">
    {% if app.user %}
        <div class="d-flex justify-content-end mb-4 mt-4">
            <a class="btn btn-new-post" href="{{ path('new_post')}}">✏️ Écrire un post</a>
        </div>
    {% endif %}
	<h1> Tous les posts </h1>
    <div class="row">
        {% for post in posts %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> <!-- Chaque post occupe 1/4 de la ligne sur grands écrans -->
                <div class="card h-100">
                    {% if post.image %}
                        <img src="{{ asset('images/post/' ~ post.image )}}" alt="{{ post.titre }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titre | capitalize }}</h5>
                        <p class="card-text">{{ post.texte | capitalize | slice(0, 200) ~ ' ...' }}</p>
                        <p class="card-text">
                            <small class="text-muted">Publié par:
                                {{ post.auteur.userName }}</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Publié le
                                {{ post.datePublication|date('d/m/Y H:i') }}</small>
                        </p>
                    </div>
                    <div class="card-footer text-center border-0">
                        <a href="{{ path('show_post', {'id': post.id}) }}" class="btn">Lire le Post</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
