{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce "
	{{annonce.titre}}
	"
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="d-flex justify-content-end mt-2 mb-4">
			<a class="btn btn-secondary" href="{{ path('gestion_annonces') }}">
				<i class="bi bi-arrow-left-square"></i>
				Retour</a>
		</div>
		<h1 class="text-center mb-4 mt-5">Modifier l'annonce "
			{{annonce.titre}}
			"</h1>

		<div class="d-flex justify-content-end mt-2 mb-4">
			<form action="{{ path('admin_delete_annonce', {'id': annonce.id}) }}" method="post" onsubmit="return confirm('Souhaitez-vous vraiment supprimer l\'annonce {{ annonce.titre|lower }} ?')">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
				<button class="btn btn-danger">
					<i class="bi bi-trash"></i>
					Supprimer
				</button>
			</form>
		</div>
		<div
			class="d-flex justify-content-center mt-2 mb-2 p-2">
			{# Conteneur pour centrer le formulaire #}
			<div class="col-12">
				{{ form_start(updateAnnonceForm) }}
				{{ form_widget(updateAnnonceForm) }}
				<button type="submit" class="btn btn-submit w-100 mt-5">Enregistrer les modifications</button>
				{{ form_end(updateAnnonceForm) }}
			</div>
		</div>

	</div>

{% endblock %}
